@use "../abstract" as *;

.footer {
  display: flex;
  padding-block: size(80);
  &__group {
    width: 33%;
  }
  &__branding {
    margin-top: size(24);
    font-size: fs(200);
    line-height: 1.25;
    width: 80%;
  }
  &__list {

  }
  &__item {
    padding-block: size(8);
    i {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      margin-right: size(8);
    }
  }
  &__link {

  }
  &__copyright {
    font-size: fs(300);
    font-weight: 500;
    color: clr(neutral, 400);
  }
}