@use "../abstract" as *;

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.font-semibold {
  font-weight: bold;
}

.font-bold {
  font-weight: bold;
}

.container {
  width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
}

.mx-auto {
  margin-inline: auto;
}

.w-50 {
  width: 50%;
};

.mb-0 {
  margin-bottom: 0;
}

.gap-20 {
  gap: 20px;
}

.align-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.col-xl-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-xl-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-xl-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-xl-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-xl-3 {
  flex: 0 0 auto;
  width: 25%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.no-wrap {
  flex-wrap: nowrap;
}

.row > * {
  padding-inline: 20px;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}